{% load static %}

<section class="logo-section">
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'index'%}"
        ><img
          src="\static\home\images\logobg.jpg"
          style="height: 100px; width: 150px"
      /></a>
    </div>
    <div class="col-md-8">
      <a href="{% url 'index'%}">
        <h1>Pangani youth soccer Academy</h1>
      </a>
    </div>
  </div>
</section>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!--Logo-->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"
        ><i class="fas fa-futbol"></i
      ></a>
      <a class="navbar-brand" href="{% url 'index' %}"
        >Pangani youth soccer academy</a
      >
    </div>

    <!--Menu items-->

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="{% url 'index' %}"
            ><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a
          >
        </li>
        <li class="">
          <a href="{% url 'account_login' %}"
            ><span class="glyphicon glyphicon-log-in"></span>&nbsp; Login</a
          >
        </li>
        <li class="">
          <a href="{% url 'players:signup' %}"
            ><span class="glyphicon glyphicon-user"></span>&nbsp; Register</a
          >
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item sm-device-none mr-3">
          <i class="fa fa-clock-o"></i> <span id="clock">Loading...</span>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            ><span class="glyphicon glyphicon-info-sign"></span>&nbsp; About
            <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">General information</a></li>
            <li><a href="#">Admission policy</a></li>
            <li><a href="#">Fee payment policy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
