{%extends 'home/base.html'%}
{%block body%}
<h1>Available programs</h1>
<div>
    <ul>
        <li><a href="#">School based program</a></li>
        <li><a href="#">Weekend program</a></li>
    </ul>
</div>
<h2>Latest News</h2>

<div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="card">
          <img src="https://www.expresssocceracademy.com/images/raisingstars.jpg" class="img-responsive" alt="..." style="height: 290px;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="card">
          <img src="https://www.expresssocceracademy.com/images/chipkizi.jpg" class="img-responsive" alt="..."> 
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
          <div class="card">
              <img src="https://www.expresssocceracademy.com/images/chipkizi.jpg" class="img-responsive" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>    
    </div>
</div>

<div class="thumbnail">
  <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img src="https://www.expresssocceracademy.com/images/raisingstars.jpg" class="img-responsive" alt="...">
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<br>  
{%endblock%}

{%block footer%}
<footer>
<div class="footer-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
        <h3>Pangani Youth Soccer Academy</h3>
        <p>Soccer youth system designed to nurture the youngins in the society </p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
        <h2>Useful Links</h2>
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Tours</a></li>
          <li><a href="#">Programs</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
        <h2>Follow Us</h2>
        <p>Follow us on social media</p>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
        <h2>Our Newsletter</h2>
        <p>Send us your mail to get news on all issues Pangani Youth Soccer Academy</p>
        <form action="">
          <input type="email">
          <input type="submit" value="subscribe">
        </form>
      </div>
    </div>
  </div>
</div>
<p class="footer-bottom-text">All Rights reserved by &copy; PYSA.2020</p>
</footer>


{%endblock%}