<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-sessions-tab" data-toggle="pill" href="#pills-sessions" role="tab" aria-controls="pills-sessions" aria-selected="true">Training Sessions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-starting-tab" data-toggle="pill" href="#pills-starting" role="tab" aria-controls="pills-starting" aria-selected="false">Fixtures Starting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-sub-tab" data-toggle="pill" href="#pills-sub" role="tab" aria-controls="pills-sub" aria-selected="false">Fixtures Subtituting</a>
  </li>
</ul>