{% extends 'dashboard/base.html' %} 
{% load static %} {% block title %} Payment Details
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'dashboard/data-tables/dataTables.bootstrap4.min.css' %}">
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="m-3 p-3 shadow-sm">
              <h3 class="text-center py-3">Payment Details</h3>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Player</th>
                      <td>{{ payment.user.get_full_name }}</td>
                    </tr>
                    <tr>
                      <th>Amount</th>
                      <td>{{ payment.amount }}</td>
                    </tr>
                    <tr>
                      <th>Balance</th>
                      <td>{{ payment.balance }}</td>
                    </tr>
                    <tr>
                      <th>Added</th>
                      <td>{{ payment.created_at }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
    <script src="{% static 'dashboard/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <!--init datatable-->
    <script src="{% static 'dashboard/data-tables/init-datatable.js' %}"></script>
{% endblock %}
