{% extends 'dashboard/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
    All News
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dashboard/data-tables/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="text-center py-3">All News</h4>
                                        <div class="d-flex justify-content-end mb-2">
                    <a href="{% url 'dashboard:blogs:blog_add' %}">
                        <button class="btn btn-primary btn-sm">Add News</button>
                    </a>
                </div>
                    <table class="table table-striped py-3" id="data_table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Added</th>
                            <th>Last Update</th>
                        </thead>
                        <tbody>
                        {% for blog in blogs %}
                            <tr>
                                <td> {{ blog.title }}</td>
                                <td> {{ blog.description }}</td>
                                <td> {{ blog.created_at }}</td>
                                <td> {{ blog.last_update }}</td>
                                <td>
                                    <a href="{% url 'dashboard:blogs:blog_details' blog.pk %}">
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'dashboard/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <!--init datatable-->
    <script src="{% static 'dashboard/data-tables/init-datatable.js' %}"></script>
{% endblock %}