<nav id="sidebar">
  <div class="sidebar-header">
    <h4>PYSA Trainers Trainer Dashboard</h4>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="{% url 'trainer_dashboard:index:index' %}" class="{% if '/dashboard' in request.path %}active{% endif %}">Dashboard</a>
    </li>
    <li>
      <a href="{% url 'trainer_dashboard:fixtures:fixtures_list' %}" class="{% if '/fixtures' in request.path %}active{% endif %}">Fixtures</a>
    </li>
    <li>
      <a href="{% url 'trainer_dashboard:sessions:sessions_list' %}" class="{% if '/sessions' in request.path %}active{% endif %}">Training Sessions</a>
    </li>
    <li>
      <a href="{% url 'trainer_dashboard:sessions:sessions_list' %}" class="{% if '/profile' in request.path %}active{% endif %}">My Profile</a>
    </li>
  </ul>
</nav>
