{% extends 'dashboard/base.html' %}
{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbar-btn float-left">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-purple">
            <div class="card-body">
                <div class="media d-flex align-items-center ">
                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-purple">
                        <i class="vl_user-female"></i>
                    </div>
                    <div class="media-body text-light">
                        <h4 class="text-uppercase mb-0 weight500">{{  artists_count }}</h4>
                        <span> Artists </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-turquoise">
            <div class="card-body">
                <div class="media d-flex align-items-center ">
                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-purple">
                        <i class="vl_user-male"></i>
                    </div>
                    <div class="media-body text-light">
                        <h4 class="text-uppercase mb-0 weight500"> {{ collectors_count }} </h4>
                        <span>Collectors</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-pink">
            <div class="card-body">
                <div class="media d-flex align-items-center">
                    <div class="mr-4 rounded-circle bg-white  sr-icon-box text-primary">
                        <i class="vl_cart-full"></i>
                    </div>
                    <div class="media-body text-white">
                        <h4 class="text-uppercase mb-0 weight500">{{ orders_count }}</h4>
                        <span>Orders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-light-red">
            <div class="card-body">
                <div class="media d-flex align-items-center">
                    <div class="mr-4 rounded-circle bg-white  sr-icon-box text-primary">
                        <i class="vl_cart-empty"></i>
                    </div>
                    <div class="media-body text-white">
                        <h4 class="text-uppercase mb-0 weight500">{{ custom_orders_count }}</h4>
                        <span>Custom Orders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-info">
            <div class="card-body">
                <div class="media d-flex align-items-center">
                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-danger">
                        <i class="vl_pen-paper"></i>
                    </div>
                    <div class="media-body text-white">
                        <h4 class="text-uppercase mb-0 weight500">{{ products_count }}</h4>
                        <span>Art Pieces</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-success">
            <div class="card-body">
                <div class="media d-flex align-items-center">
                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-success">
                        <i class="vl_calendar"></i>
                    </div>
                    <div class="media-body text-white">
                        <h4 class="text-uppercase mb-0 weight500"> {{ events_count }} </h4>
                        <span>Exhibitions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mb-4 bg-gray">
            <div class="card-body">
                <div class="media d-flex align-items-center">
                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-success">
                        <i class="vl_user-male"></i>
                    </div>
                    <div class="media-body text-white">
                        <h4 class="text-uppercase mb-0 weight500">4</h4>
                        <span>System users</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}