<nav id="sidebar">
  <div class="sidebar-header">
    <h4>PYSA Admin Dashboard</h4>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="{% url 'dashboard:index:index' %}" class="{% if '/admin-dashboard' in request.path %}active{% endif %}">Dashboard</a>
    </li>
    <li>
      <a href="{% url 'dashboard:players:players_list' %}" class="{% if '/players' in request.path %}active{% endif %}">Players</a>
    </li>
    <li>
      <a href="{% url 'dashboard:trainers:trainers_list' %}" class="{% if '/trainers' in request.path %}active{% endif %}">Trainers</a>
    </li>

    <li>
      <a href="#">Fee Payment</a>
    </li>
    <li>
      <a href="{% url 'dashboard:fixtures:fixtures_list' %}" class="{% if '/fixtures' in request.path %}active{% endif %}">Fixtures</a>
    </li>
    <li>
      <a href="{% url 'dashboard:sessions:sessions_list' %}" class="{% if '/sessions' in request.path %}active{% endif %}">Training Sessions</a>
    </li>
    <li>
      <a href="{% url 'dashboard:payments:fee_settings_list' %}" class="{% if '/payments/fee-settings/' in request.path %}active{% endif %}">Fee Setting</a>
    </li>
    <li>
      <a href="{% url 'dashboard:payments:payments_list' %}" class="{% if '/payments/' in request.path %}active{% endif %}">Payments</a>
    </li>
    <li>
      <a href="{% url 'dashboard:blogs:blogs_list' %}" class="{% if '/news/' in request.path %}active{% endif %}">Club News</a>
    </li>
    <li>
      <a href="{% url 'dashboard:index:consent_forms_list' %}" class="{% if '/consent-forms' in request.path %}active{% endif %}">Consent Form</a>
    </li>
    <li>
      <a href="{% url 'users:user_profile' %}" class="{% if '/consent-forms' in request.path %}active{% endif %}">My Profile</a>
    </li>
  </ul>
</nav>
