<nav id="sidebar">
  <div class="sidebar-header">
    <h4>PYSA Admin Dashboard</h4>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="{% url 'dashboard:players:players_list' %}" class="{% if '/players' in request.path %}active{% endif %}">Players</a>
    </li>
    <li>
      <a href="{% url 'dashboard:trainers:trainers_list' %}" class="{% if '/trainers' in request.path %}active{% endif %}">Trainers</a>
    </li>

    <li>
      <a href="#">Fee Payment</a>
    </li>
    <li>
      <a href="#">Check Balance</a>
    </li>
    <li>
      <a href="{% url 'dashboard:players:players_list' %}" class="{% if '/fixtures' in request.path %}active{% endif %}">Fixtures</a>
    </li>
    <li>
      <a href="{% url 'dashboard:index:consent_forms_list' %}" class="{% if '/consent-forms' in request.path %}active{% endif %}">Consent Form</a>
    </li>
  </ul>
</nav>
