{%extends 'home/base.html'%}
{%block title%}Enter Payment Details{%endblock%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                        {%csrf_token%}
                        {% include 'partials/forms/form.html'%}
                        <div class="form-group row col-md-8 mx-auto">
                            <div class="col-sm-offset-2">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="alert alert-info fade in mt-2">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            Info:<br>
                            The format for the phone number is 254+safaricomnumber i.e 254723924356

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>

{%endblock%}